:host {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
}

label {
  display: flex;
  span {
    margin-right: 15px;
    min-width: 80px;
  }
  input:disabled {
    background-color: transparent;
    color: white;
  }
}

.full-name {
  margin-bottom: 40px;
}

.add-car {
  margin: 15px 0 15px 0;
}

.nav-btn button:first-child {
  margin-right: 15px;
}

.display-table {
  display: table;
  input {
    margin-right: 10px;
  }
  input:disabled {
    background-color: transparent;
    color: white;
  }
}
.display-table-row {
  display: table-row;
}
.display-table-cell {
  display: table-cell;
  label span {
    display: none;
  }
}

i-bs[name='trash'] {
  color: #E50000;
}

i-bs[name='plus-circle'] {
  color: #1186DD;
}
i-bs[name='download'] {
  color: #619C28;
}
i-bs[name='arrow-left-circle'] {
  color: #999999;
}

button.btn.btn-outline-dark.btn-sm {
  color: white;
  background-color: rgb(43, 43, 43);
}

@media all and (max-width: 900px) {
  .display-table, .display-table-cell, .display-table-row {
    display: block;
  }
  .table-header {
    display: none;
    label span {
      display: block;
    }
  }
  .display-table-cell {
    label {
      justify-content: center;
    }
    label span {
      display: block;
    }
    button {
      width: 100%;
    }
      margin-bottom: 20px;
  }
  .full-name label {
    justify-content: center;
  }
  :host > .container-fluid > .row > .col-12 {
    text-align: center;
  }
  .add-car .btn {
    width: 100%;
  }
  .nav-btn {
    display: flex;
    justify-content: space-between;
  }
  .nav-btn .btn {
    width: 48%;
    margin-right: 0;
    &:first-child {
      margin-right: 0;
    }
  }
}
