<div class="container-fluid">
  <div class="row" [formGroup]="form">
    <div class="col-12">
      <h5>Информация о владельце</h5>

      <div class="full-name">
        <label>
          <span>Фамилия</span>
          <input formControlName="lastName" type="text">
        </label>
        <label>
          <span>Имя</span>
          <input formControlName="firstName" type="text">
        </label>
        <label>
          <span>Отчество</span>
          <input formControlName="middleName" type="text">
        </label>
      </div>

      <h5>Автомобили</h5>
      <div class="display-table" formArrayName="cars">
        <div class="display-table-row table-header">
          <div class="display-table-cell">Номер</div>
          <div class="display-table-cell">Марка</div>
          <div class="display-table-cell">Модель</div>
          <div class="display-table-cell">Год</div>
        </div>
        <div class="display-table-row" *ngFor="let group of carsFormGroup.controls; let i = index" [formGroupName]="i">
          <div class="display-table-cell">
            <label>
              <span>Номер</span>
              <input type="text" formControlName="registrationNumber">
            </label>
          </div>
          <div class="display-table-cell">
            <label>
              <span>Марка</span>
              <input type="text" formControlName="vendor">
            </label>
          </div>
          <div class="display-table-cell">
            <label>
              <span>Модель</span>
              <input type="text" formControlName="model">
            </label>
          </div>
          <div class="display-table-cell">
            <label>
              <span>Год</span>
              <input type="text" formControlName="manufacturedIn">
            </label>
          </div>
          <div class="display-table-cell">
            <button class="btn btn-outline-dark btn-sm"
                    (click)="removeCar(i)"
                    *ngIf="!isView"
                    [attr.disabled]="carsFormGroup.controls.length == 1 ? true : null">
              <i-bs name="trash"></i-bs>
            </button>
          </div>
        </div>
      </div>


      <div class="add-car">
        <button class="btn btn-outline-dark btn-sm" (click)="addNewCar()" *ngIf="!isView">
          <i-bs name="plus-circle"></i-bs>
          Добавить автомобиль
        </button>
      </div>
      <div class="nav-btn">
        <button class="btn btn-outline-dark btn-sm" (click)="submit()" *ngIf="!isView" [disabled]="!form.valid">
          <i-bs name="download"></i-bs>
          Сохранить
        </button>
        <button class="btn btn-outline-dark btn-sm" routerLink="/">
          <i-bs name="arrow-left-circle"></i-bs>
          Назад
        </button>
      </div>
    </div>
  </div>
</div>
