<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h5>Владельцы автомобилей</h5>
    </div>
    <div class="col-12 controls">
      <button class="btn btn-outline-dark btn-sm" routerLink="owners/add/id/0">
        <i-bs name="plus-circle"></i-bs>
        Добавить
      </button>
      <button class="btn btn-outline-dark btn-sm"
              [routerLink]="'owners/view/id/' + selectedEntityId"
              [attr.disabled]="selectedEntityId ? null : true">
        <i-bs name="eye"></i-bs>
        Просмотр
      </button>
      <button class="btn btn-outline-dark btn-sm"
              [attr.disabled]="selectedEntityId ? null : true"
              [routerLink]="'owners/edit/id/' + selectedEntityId">
        <i-bs name="pencil-square"></i-bs>
        Редактирование
      </button>
      <button class="btn btn-outline-dark btn-sm" [attr.disabled]="selectedEntityId ? null : true" (click)="removeCar()">
        <i-bs name="trash"></i-bs>
        Удалить
      </button>
    </div>
    <div class="col-12" *ngIf="(owners$ | async) as owners" (click)="onItemClick($event)">
      <ng-container *ngIf="owners.length else emptyTable">
        <table class="table table-dark table-hover">
          <thead>
          <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Количество автомобилей</th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let item of owners" [attr.data-id]="item.id" [class.selected]="selectedEntityId === item.id">
            <td>{{ item.lastName }}</td>
            <td>{{ item.firstName }}</td>
            <td>{{ item.middleName }}</td>
            <td>{{ item.cars.length }}</td>
          </tr>

          </tbody>
        </table>
        <div class="cards">
          <div class="card text-white mb-3"
               *ngFor="let item of owners"
               [attr.data-id]="item.id"
               [class.selected]="selectedEntityId === item.id">
            <div class="card-body">
              <div class="card-row">
                <span>Фамилия</span>
                <span>{{ item.lastName }}</span>
              </div>
              <div class="card-row">
                <span>Имя</span>
                <span>{{ item.firstName }}</span>
              </div>
              <div class="card-row">
                <span>Отчество</span>
                <span>{{ item.middleName }}</span>
              </div>
              <div class="card-row">
                <span>Количество автомобилей</span>
                <span>{{ item.cars.length }}</span>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #emptyTable>
        <div class="no-data">
         <span>Список пуст</span>
        </div>
      </ng-template>
    </div>
  </div>
</div>
