:host {
  display: block;
  padding: 15px;
}

i-bs {
  line-height: 1;
  margin-right: 8px;
}


i-bs[name='plus-circle'] {
  color: #d98a39;
}


i-bs[name='eye'] {
  color: #3988D9;
}

i-bs[name='pencil-square'] {
  color: #8a39d9;
}

i-bs[name='trash'] {
  color: #E50000;
}

.controls {
  margin-bottom: 30px;
  margin-top: 50px;
  display: flex;
  button {
    font-size: 14px;
    line-height: 20px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    color: white;
    background-color: rgb(43, 43, 43);
    &:first-of-type {
      margin-right: 30px;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}

table {
  background-color: rgb(43, 43, 43);
}

.cards {
  display: none;
}

.card-row {
  display: flex;
  justify-content: space-between;
  span:first-child {
    margin-right: 10px;
    min-width: 50%;
  }
  span:last-child {
    word-break: break-all;
    text-align: right;
  }
}

.no-data {
  background-color: rgb(43, 43, 43);
  color: white;
  font-size: 14px;
  line-height: 20px;
  border-radius: 4px;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table .selected,
.card.selected {
 /* background-color: #bababa !important; */
  background-color: #343a40 !important;

}
.cards .card {
  margin-bottom: 10px;
  background-color: rgb(43, 43, 43);
  &:last-of-type {
    margin-bottom: 0;
  }
 &:hover {
   background-color: #343a40;
 }
}

@media all and (max-width: 768px) {
  .table {
    display: none;
  }
  .cards {
    display: block;
  }
}
@media all and (max-width: 560px) {
  :host {
    padding: 8px;
  }
  .controls {
    flex-wrap: wrap;
    justify-content: space-between;
    button {
      width: 48%;
      margin: 0;
      margin-bottom: 10px;
      &:first-of-type {
        margin-right: 0;
      }
      &:nth-last-of-type(1),
      &:nth-last-of-type(2) {
        margin-bottom: 0;
      }
    }
  }
}

@media all and (max-width: 450px) {
  .controls button {
    margin-bottom: 15px;
    &:nth-last-of-type(1) {
      margin-right: 0;
    }
    &:nth-last-of-type(2) {
      margin-bottom: 15px;
    }
    width: 100%;
  }
}
