/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */

@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";

* {
  font-family: 'IBM Plex Sans', sans-serif;
}

body, html {
  max-width: 100%;
  overflow: hidden;
  overflow-y: auto;
  background-color: rgb(59, 71, 84);
  color: white;
  min-height: 100vh;
}

input.ng-invalid.ng-touched {
  outline: 1px solid #E50000;
}

.table-dark.table-hover tbody tr:hover {
  background-color: #343a40;
}
